 html {
                background-color: #f6f6f6;
            }
            main{
                width: 795px;
                margin: -1px auto 0px;
                border: 1px solid #ddd;
                background-color: #FFF;
                padding: 40px 20px;                
            }
            
            #dados{
                text-align: center;
                font-style: italic;
                
            }
            
            .mcv {
                text-indent: 1.8em;
            }
            
            h1{
                text-align: center;
            }
            
            
            nav {
                width: 790px;
                background-color: #f6f6f6;
                list-style:none; 
                margin:0; 
                padding: 1px; 
            }
            nav ul li { 
                display:inline-block; 
            }
            
            nav ul li a { 
                font-size: 0.90em; 
                text-decoration: none; 
                color: black; 
                padding: 24px 20px;
                margin-right: -7px;
                
            }
            
            nav ul li a:hover { 
                background-color: #f1f1f1;
                clear: both;
                                
            }
             
